.widget-search {
  border: none;
  box-shadow: 0 0 10px rgba(136, 136, 136, 0.1);
  form {
    input {
      background-color: #fff;
      border: 1px solid #ecf0f3;
    }
  }
}

.widget .search-wrapper {
  position: relative;
  margin-bottom: 1rem !important;
  input {
    background: #ecf0f3;
    height: 50px;
    padding-left: 10px;
    line-height: 50px;
    margin-bottom: 0;
    border: none;
    width: 100%;
    outline: none;
  }
  button {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    line-height: 50px;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    font-size: 1.25rem;
    padding: 0;
    cursor: pointer;
    background: #ecf0f3;
  }
}

.widget .products-search-section{
    display: flex !important;
    gap: 1.7rem;
    padding: 0.5rem;
    flex-wrap: wrap;

}

.widget .products-search-section .pro-thumb {
    position: relative;
    &::after {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, .70);
        position: absolute;
        transform: scale(0);
        transition: all;
    }
    img {
        transform-origin: left;
    }
}

 .product-image{
    flex-grow: 0;
    flex-shrink: 0;
}

.product-content {
    align-content: center;
    text-align: center;
    h5 {
        margin: 0;
        margin-bottom: 5px;
        a {
            color: #101115;
            text-decoration: none;
            transition: all;
            &:hover {
                color: #f16126;
            }
        }
    }
    p {
        color: #555555;
        margin-bottom: 5px;
        i {
            color: #ecb341;
        }
    }
}