.detail-layout-container {
  position: relative;
  min-height: 1400px;
  margin-top: 90px;
  padding: 0 20px;
}

.detail-layout-container .detail-content {
  display: flex;
}

.detail-imgs {
  width: calc(100% - 636px);
  overflow: hidden;
  position: relative;
  display: block;
}

.detail-imgs .detail-imgs-item {
  overflow: hidden;
  width: calc(50% - 16px);
  margin: 8px;
  position: relative;
  display: inline-block;
}

.detail-imgs .detail-imgs-item .detail-imgs-content {
  width: 0;
  height: 0;
  background-color: #f2f2f2;
  padding: 143.14% 100% 0 0;
}

.detail-imgs .detail-imgs-item .detail-imgs-content img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40%;
  transform: translate(-50%, -50%);
  display: block;
  object-fit: cover;
}

.product-info {
  width: 616px;
  box-sizing: border-box;
  margin-top: 100px;
  padding: 0 126px 0 155px;
}

.product-info .product-info-content {
  position: relative;
}

@media (max-width: 1680px) {
  .detail-imgs {
    width: calc(100% - 470px);
  }
}

@media (max-width: 1024px) {
  .detail-imgs {
    width: calc(100% - 350px);
  }
}

@media (max-width: 767px) {
  .detail-layout-container .detail-content {
    display: block;
  }
  .detail-imgs {
    width: 100%;
    background: #ededed;
    margin-bottom: 3px;
  }
  .product-info {
    width: 100%;
    padding: 0;
  }
}
