.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 30px;
  background-color: white;
  z-index: 99;
}
.navbar .logo:nth-child(2) {
  justify-self: center;
}
.navbar .right-bar:nth-child(3) {
  justify-self: end;
}
#img-1 {
  margin-top: 15px;
  height: 20px;
  width: 20px;
  overflow: hidden;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 90px;
  left: 0px;
  background-color: white;
  padding: 10px 30px;
  width: -webkit-fill-available;
}

.dropdown-menu ul li:hover a {
  color: gray;
  cursor: pointer;
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

.dropdownItem {
  display: flex;
  margin: 25px 0px;
  font-size: 10px;
  font-family: "Inter";
}

.logo {
  font-family: logoFont;
}

#img-2 {
  margin-top: 15px;
  height: 20px;
  width: 20px;
  overflow: hidden;
  cursor: pointer;
}

.nav-cart-count {
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  margin-top: -27px;
  margin-left: -10px;
  border-radius: 50%;
  font-size: 11px;
  color: black;
}

.navbar .right-bar {
  display: flex;
}
.right-bar .login {
  display: flex;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
}
.right-bar .logout {
  display: flex;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
}
